<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<mapping resource="Categoria.hbm.xml" />
		<mapping resource="Articulo.hbm.xml" />
		<mapping resource="Area.hbm.xml" />
		<mapping resource="Libro.hbm.xml" />
		<mapping resource="Estado.hbm.xml" />
		<mapping resource="CuentaPrestamo.hbm.xml" />
		<mapping resource="Prestamo.hbm.xml" />
		<mapping resource="TipoUsuario.hbm.xml" />
		<mapping resource="Usuario.hbm.xml" />
		<mapping resource="Cuenta.hbm.xml" />

		<!-- <mapping resource="Cliente.hbm.xml" /> <mapping resource="Factura.hbm.xml" 
			/> <mapping resource="Detalle.hbm.xml" /> -->
	</session-factory>
</hibernate-configuration>